/* stylelint-disable */
* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Work Sans', sans-serif;
  color: $BackgroundColor-Content--isDark;
  background-color: $BackgroundColor-Content--isLight;

  font-size: 14px;

  @media screen and (min-width: 800px) and (min-height: 520px) {
    font-size: 18px;
  }
}

img {
  max-width: 100%;
}
