//#region Configuration
//#subregion Colors
$Timeline_BackgroundColor: $ColorBackgroundContent;
$Timeline-Active_BackgroundColor: $ColorBackgroundContent;
//#endsubregion
//#endregion

//#subregion Sizes and Positions
$Timeline-Line_Width: 6px;
$Timeline_PositionLeft: 20%;


$EndMarker_PositionTop: 0;
$BeginMarker_PositionBottom: 0;

$Timespan_Height: (
	Previous: 60%,
	Next: 10%,
);

$CurrentTimeSpan_Height: 100 - (map-get($Timespan_Height, Previous) + map-get($Timespan_Height, Next));

//#subregion after Animation
$Timespan-NavigationPrevActive_Height: (
	Previous: 10%,
	Next: 60%,
);
$Timespan_NavigationNextActive_Height: (
	Previous: 40%,
	Next: 40%,
);
//#endsubregion

//#endsubregion
//#endregion

//#region mixins calculation variables
@mixin NavigationState($type, $timespan_height) {
	&.navigation-#{$type}-active {
		.timeline {

			.timespan {
				&.timespan-previous {
					height: map-get($timespan_height, Previous);
				}
				&.timespan-next {
						height: map-get($timespan_height, Next);
				}
			}

			.navigation-#{$type} li {
				top: 0 !important;
			}
		}

		.history-entry .history-header {
			height: 100 - (map-get($timespan_height, Previous) + map-get($timespan_height, Next));
			bottom: map-get($timespan_height, Next);
		}
	}
}
//#endregion

@import './history/history-entry';
@import './history/timeLine';

.history {
	@include NavigationState('previous', $Timespan-NavigationPrevActive_Height);
	@include NavigationState('next', $Timespan_NavigationNextActive_Height);
}
