.progress {
	width: 40%;
	height: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 18px;
	position: relative;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	background-color: $ColorSecondary;

	.level {
		z-index: 1;
		line-height: 20px;
		position: relative;
	}

	.title {
		padding-left: 2px;
	}

	.bar {
		top: 50%;
		left: 0;
		height: 80%;
		text-align: left;
		border-radius: 5px;
		position: absolute;
		transform: translateY(-50%);
		background-color: $ColorPrimary;
		border: 2px solid $ColorSecondary;
		border-top: none;
		border-bottom: none;
	}
}
