.start, .introduction {
	color: $ColorThird;
}

.start {
	padding-top: 8em;
	min-height: 80vh;
	margin-bottom: $ComponentMarginBottom;

	.textarea {

		h2, {
			font-size: 2em;
		}
		h3, h4 {
			font-size: 1.5em;
		}
	}
}