h1, h2, h3, h4, h5, h6, time {
	margin: 0;
	font-weight: 300;
	color: $ColorSecondary;
}

h1, h3, h4 {
	font-size: 24px;
}

h2, time {
  font-size: 17px;
}

h3 {
	font-weight: 400;
	text-transform: uppercase;
}

h4 {
	color: $ColorPrimary;
}

a {
	color: inherit;
	font-weight: 400;
	text-decoration: underline;
}
