$ColorPrimary: #ff9c00;
$ColorSecondary: #9c9b9b;

$ColorSecondaryDark: darken($ColorSecondary, 5%);
$ColorSecondaryDarker: darken($ColorSecondary, 25%);

$ColorSecondaryLight: lighten($ColorSecondary, 20%);
$ColorSecondaryLighter: lighten($ColorSecondary, 35%);

$ColorCopy: $ColorSecondaryDark;
$ColorBackgroundLight: $ColorSecondaryLighter;
$ColorBackgroundDark: $ColorSecondaryDarker;
