//#region Colors
$Color-Primary: #ff9c00;
$Color-Secondary: #9c9b9b;
$Color-Third: #475157;

$Color-Error: #f00;

$Color-Secondary--isDark: darken($Color-Secondary, 5%);
$Color-Secondary--isDarker: darken($Color-Secondary, 25%);

$Color-Secondary--isLight: lighten($Color-Secondary, 20%);
$Color-Secondary--Lighter: lighten($Color-Secondary, 35%);

$BackgroundColor-Content: #fff;
$BackgroundColor-Content--isAlpha: rgba($color: $BackgroundColor-Content, $alpha: 0.3);
$BackgroundColor-Content--isLight: #f4f4f4;
$BackgroundColor-Content--isDark: #282828;
$BackgroundColor-Content--isDarkAlpha: rgba($BackgroundColor-Content--isDark, 0.5);

$Color-Copy--isDark: $Color-Secondary--isDark;
$Color-Copy--isLight: $BackgroundColor-Content;

$Gradient-Color1: #6310ca;
$Gradient-Color2: #5e77f0;
$Gradient-History: radial-gradient(circle at 65% 50%, $Gradient-Color2 1%, $Gradient-Color1 75%);

$BackgroundColor-Timeline: rgba($BackgroundColor-Content, 0.7);
$BackgroundColor-Timeline--isActive: $BackgroundColor-Content;

$Color-Discarded: #f1235a;
$Color-Interested: #40a7d1;
$Color-Untrained: darken($Color-Interested, 20%);
$Color-Learned: #5cb449;
$Color-Assess: lighten($Color-Interested, 20%);
$Color-Mastered: $Color-Primary;
//#endregion

//#region Sizes and Positions
$Breakpoint-Nav--isMobile: 700px;
$MarginBottom-Component: 10vh;
$PaddingVertical-Component: getGridSize(1, vertical);
$PaddingHorizontal-Component: getGridSize(2, horizontal);
//#endregion

//#region Transitions
$Transition-Header: color 0.3s ease-in-out, background-color 0.4s ease-in-out;
//#endregion
