//#region Colors
$ColorPrimary: #ff9c00;
$ColorSecondary: #9c9b9b;
$ColorThird: #475157;

$color-base: #ffffff;

$ColorError: #ff0000;

$ColorSecondaryDark: darken($ColorSecondary, 5%);
$ColorSecondaryDarker: darken($ColorSecondary, 25%);

$ColorSecondaryLight: lighten($ColorSecondary, 20%);
$ColorSecondaryLighter: lighten($ColorSecondary, 35%);

$ColorBackgroundContent: #fff;
$ColorBackgroundContent_Alpha: rgba($color:$ColorBackgroundContent, $alpha: 0.3);
$ColorBackgroundLight: #f4f4f4;
$ColorBackgroundDark: #282828;
$ColorBackgroundDark_Alpha: rgba($ColorBackgroundDark, 0.5);

$DarkCopy_Color: $ColorSecondaryDark;
$LightCopy_Color: $ColorBackgroundContent;

$Color1: #6310ca;
$Color2: #5e77f0;
$HistoryGradient: radial-gradient(
	circle at 65% 50%,
	$Color2 1%,
	$Color1 75%
);

$Timeline_BackgroundColor: rgba($ColorBackgroundContent, 0.7);
$Timeline-Active_BackgroundColor: $ColorBackgroundContent;

$ColorDiscarded: #F1235A;
$ColorInterested: #40A7D1;
$ColorUntrained: darken($ColorInterested, 20%);
$ColorLearned:  #5CB449;
$ColorAssess: lighten($ColorInterested, 20%);
$ColorMastered: $ColorPrimary;
//#endregion

//#region Sizes and Positions
$MobileNavBreak: 700px;
$ComponentMarginBottom: 10vh;
$ComponentPadding_Vertical: getGridSize(1, vertical);
$ComponentPadding_Horizontal: getGridSize(2, horizontal);

//#endsubregion
//#endregion

//Transitions
$HeaderColorTansition: color 0.3s ease-in-out, background-color 0.4s ease-in-out;
