$ColorPrimary: #ff9c00;
$ColorSecondary: #9c9b9b;

$ColorSecondaryDark: darken($ColorSecondary, 5%);
$ColorSecondaryDarker: darken($ColorSecondary, 25%);

$ColorSecondaryLight: lighten($ColorSecondary, 20%);
$ColorSecondaryLighter: lighten($ColorSecondary, 35%);

$ColorBackgroundContent: #fff;
$ColorBackgroundLight: #f4f4f4;
$ColorBackgroundDark: $ColorSecondaryDarker;

$DarkCopy_Color: $ColorSecondaryDark;
$LightCopy_Color: $ColorBackgroundContent;



$Color1: #7f18ff;
$Color2: #005aff;
