.accordeon {
	position: relative;
	padding-left: 35px;
	margin-bottom: 40px;

	&:before {
		content: '';
	    top: 25px;
	    left: 14px;
		height: 0;
		width: 2px;
		position: absolute;
		background-color: $ColorPrimary;
		transition: height 0.3s 0.7s linear;
	}

	&:after {
		content: '⬗';
		top: -2px;
		left: 2px;
		opacity: 0;
		font-size: 30px;
		font-weight: bold;
		font-family: Arial;
		position: absolute;
		color: $ColorPrimary;
		transform: rotate(0deg);
		transition: top 0.7s 0.3s linear, transform 0.7s ease-in-out, opacity 0 0.7s linear;
	}

	header {
		cursor: pointer;
		position: relative;

		&:before {
			content: '⬗';
		    top: -2px;
		    left: -34px;
			font-size: 30px;
			font-weight: bold;
			font-family: Arial;
			position: absolute;
			color: $ColorPrimary;
			transform: rotate(0deg);
			transition: top 0.2s 0.5s linear, transform 0.7s ease-in-out;
		}
	}

	.accordeon-content {
		margin: 10px 0;
		overflow: hidden;
		position: relative;
		transition: height 0.3s ease-in-out;

		p:first-child, p:last-child {
			margin: 0;
		}
	}

	&.accordeon-open {

		&:before {
			height: calc(100% - 44px);
		}
		&:after {
			opacity: 1;
			top: calc(100% - 26px);
			transform: rotate(90deg);
		}

		header:before {
			transform: rotate(90deg);
		}

		.accordeon-content {
		}
	}
}
