.IssueTracker_Issues {
    margin-bottom: 20px;

    .IssueTracker_Issues_Inner {

        .IssueTracker_IssueLink {
            display: block;
            border-radius: 0.25em;
            padding: 0.5em;
            margin-bottom: 0.5em;
            font-size: 0.8em;
            color: $ColorBackgroundContent;
            background-color: $ColorBackgroundDark;
            transition: background-color 0.3s ease;

            &:after {
                display: block;
                clear: both;
            }

            .IssueTracker_Label {
                float: right;
            }

            &:hover {
                background-color: $ColorPrimary;
            }
        }
    }
}