@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

@import '../../node_modules/normalize-scss/sass/normalize';

@include normalize();


$ColorPrimary: #ff9c00;
$ColorSecondary: #9B9B9B;

$ColorSecondaryDark: darken($ColorSecondary, 5%);
$ColorSecondaryDarker: darken($ColorSecondary, 25%);

$ColorSecondaryLight: lighten($ColorSecondary, 20%);
$ColorSecondaryLighter: lighten($ColorSecondary, 35%);

$ColorCopy: $ColorSecondaryDark;
$ColorBackgroundLight: $ColorSecondaryLighter;
$ColorBackgroundDark: $ColorSecondaryDarker;




.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	.flex-item {
		@for $i from 1 through 6 {
			&.flex-grow-#{$i} { flex-grow: $i; }
	  	&.flex-order-#{$i} { order: $i; }
		}
	}
}

* {
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

body {
	color: $ColorCopy;
	font-family: 'Roboto', sans-serif;
	background-color: $ColorBackgroundLight;
}

.content {
	margin-bottom: 100px;
	z-index: 5;
	padding: 30px;
	position: relative;
	box-shadow: 5px 10px;
	border: 1px solid $ColorBackgroundDark;
	background-color: $ColorBackgroundLight;
	box-shadow: 10px 10px 65px 0px rgba(0,0,0,0.75);
}

.job-offer {
	margin: 0 10%;
}

main > header {
	z-index: 1;

	&:after {
		content: '';
		clear: both;
		display: block;
	}

	.visual {
		height: 300px;
		padding: 0 2.5%;
		margin-bottom: -250px;
		background-color: #000;
	}

	.profile {
		z-index: 1;
		margin: 0 10%;
		display: flex;
		position: relative;
		justify-content: space-between;

		.image {
			width: 30%;
			margin: 0 10% 0 0;

			img {
				width: 100%;
			}
		}

		.content {
			float: right;
			flex-grow: 2;
			margin-top: 100px;
			position: relative;

			.social-links {
				top: 30px;
				right: 30px;
				text-align: right;
				position: absolute;

				a {
					width: 40px;
					height: 40px;
					display: block;
					margin-bottom: 10px;
				}
			}
		}
	}
}

.progress {
	width: 40%;
	height: 20px;
	color: #fff;
	font-size: 12px;
	line-height: 18px;
	position: relative;
	margin-bottom: 10px;
	border-radius: 5px;
	text-align: center;
	background-color: $ColorSecondary;

	.level {
		z-index: 1;
		line-height: 20px;
		position: relative;
	}

	.title {
		padding-left: 2px;
	}

	.bar {
		top: 50%;
		left: 0;
		height: 80%;
		text-align: left;
		border-radius: 5px;
		position: absolute;
		transform: translateY(-50%);
		background-color: $ColorPrimary;
		border: 2px solid $ColorSecondary;
		border-top: none;
		border-bottom: none;
	}
}

.date-section {
	width: 100%;
	position: relative;
	padding: 0 150px;
	color: $ColorSecondaryDarker;

	&.first-entry {
		.circle.main {
			border: 1px solid $ColorPrimary;

			&:after, &:before {
				content: '';
				z-index: -1;
				top: 50%;
				left: 50%;
				width: 100%;
				height: 100%;
				display: block;
				position: absolute;
				border-radius: 50%;
				transform-origin: 50% 50%;
				border: 2px solid $ColorPrimary;
				transform: translate(-50%, -50%);
				animation: loading-pulse 2s linear infinite;
			}

			&:before {
				animation-delay: 0.4s;
			}
		}
	}

	header {
		text-align: right;
	}

	h1, time {
		font-size: 40px;
		font-weight: 400;
		//margin: 0 0 50px;
	}

	.experience-circles {
		width: 25%;
		margin: 150px 0;

		&.experience-circles-right {
			margin-left: 0;

			.circle {
				.type {
					left: -10%;
					right: auto;
				}
			}
		}
	}

	.circle {
		width: 100px;
		height: 100px;
		padding: 30px;
		display: block;
		border-radius: 50%;
		text-align: center;
		position: relative;
		border: 2px solid $ColorSecondary;
		background-color: $ColorSecondary;

		.title {
			top: 50%;
			left: 50%;
			width: 80%;
			display: block;
			position: absolute;
			transform: translate(-50%, -50%);
		}

		&.main {
			margin: 0 auto;
			margin-top: -300px;
			color: $ColorSecondaryLighter;
		}

		&.experience {
			.type {
				z-index: 1;
				top: -10%;
				right: -10%;
				width: 30px;
				height: 30px;
				position: absolute;
				border-radius: 50%;
				text-indent: 9001px;
				background: no-repeat center center;
				background-color: inherit;
				border: inherit;
			}

			&.Skill .type {
				background-image: url('../img/svg/icon-book.svg');
				background-size: 70%;
			}

			&.Reference .type {
				background-image: url('../img/svg/icon-reference2.svg');
				background-color: inherit;
				background-size: 70%;
			}

			.title {
				left: 0;
				width: auto;
				min-width: 100%;
				white-space: nowrap;
				background-color: inherit;
				transform: translateY(-50%);
			}
		}
	}
}



@keyframes loading-pulse {
	49% {
		opacity: 0;
	}
	50% {
		transform: translate(-50%, -50%) scale(1);
		opacity: 1;
	}
	75% {
		transform: translate(-50%, -50%) scale(1.4);
		opacity: 0.4;
	}
	100% {
		transform: translate(-50%, -50%) scale(1.65);
		opacity: 0;
	}
}
