$WidthSingleColumn: 20vw;
$WidthColumnGap: 2vw;
$HeightSingleColumn: 100%;

.column-scroller {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  
    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: 100%; /* match columns */
      z-index: 0;
    }
  
    .scroller {
      overflow-y: hidden;
      overflow-x: auto;
      scroll-behavior: smooth;
      height: 100%;
      position: relative;
      z-index: 1;
  
      .columns {
          -webkit-column-fill: auto;
          -webkit-column-width: $WidthSingleColumn;
          -webkit-column-gap: $WidthColumnGap;
          -moz-column-fill: auto;
          -moz-column-width: $WidthSingleColumn;
          -moz-column-gap: $WidthColumnGap;
          height: 100%;
          text-align: justify;
          width: auto;

          &:after {
            content: '';
            display: block;
            width: $WidthSingleColumn;
            height: 1em;
            float: right;
          }
      } 
    }
}