.LayoutContainer {
    display: flex;
    flex-wrap: wrap;

    .LayoutContainer_ElementWrapper {
        width: 100%;
        flex-grow: 2;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    @media (min-width: $MobileNavBreak) {
        .LayoutContainer_ElementWrapper-Half {
            flex-grow: 1;
            width: 50%;
            
            &:nth-child(odd) {
                padding-right: 1em;
            }
            &:nth-child(even) {
                padding-left: 1em;
            }
        }
    }
}