.App {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    
	color: $ColorBackgroundContent;
	background-color: $ColorBackgroundDark;
	
	> * {
        flex-grow: 1;
	}

    .App_Main {
        flex-grow: 2;
    }
}