.App_Header {
	z-index: 4;
	width: 100%;
	transition: $HeaderColorTansition;
	padding:  $ComponentPadding_Vertical $ComponentPadding_Horizontal;

	a {
		text-decoration: none;
	}

	.container {
		z-index: 2;
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;

		.logo {	
			float: left;
			transition: $HeaderColorTansition;

			h1, h2 {
				font-weight: bold;
			}

			h1 {
				font-size: 1em;
				
				.name {
					text-transform: uppercase;
					margin-bottom: 5px;
					padding-bottom: 5px;
					border-bottom: 3px $ColorPrimary solid;
				}

				.company {
					font-size: 0.5em;
				}
			}
		}
	}
}