footer {
	z-index: 5;
	
	width: 100%;
	height: 10vh;
	padding:  getGridSize(1, vertical) getGridSize(2, horizontal);

	position: fixed;
	left: 0;
	bottom: 0;

	background-color: $ColorBackgroundDark;
	transition: $HeaderColorTansition;

	.container {
		z-index: 2;
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		flex-direction: row;
		align-content: center;
		justify-content: space-between;
	}

	h4 {
		margin-bottom: 0.3em;
	}

	.social-links {
		width: 50vw;

		a {
			width: auto;
			height: 1.5em;
			margin-right: 10px;
			display: inline-block;

			img {
				width: 1.5em;
				height: 1.5em;
				margin-right: 0.5em;
				display: inline-block;
				transform: translateY(25%);
			}
		}
	}

	.meta-nav {
		width: 30vw;

		a {
			display: block;
			font-size: 0.8em;
			text-align: right;
			margin-bottom: 0.35em;
		}
	}

}
