header#page-header {
	z-index: 3;
	width: 100vw;
	position: fixed;
	transition: $HeaderColorTansition;
	padding:  getGridSize(1, vertical) getGridSize(2, horizontal);

	a {
		text-decoration: none;
	}

	.container {
		z-index: 2;
		display: flex;
		flex-wrap: nowrap;
		position: relative;
		align-items: center;
		flex-direction: row;
		justify-content: space-between;

		.logo {	
			float: left;
			transition: $HeaderColorTansition;

			h1, h2 {
				font-weight: bold;
			}

			h1 {
				font-size: 1em;
				text-transform: uppercase;
				margin-bottom: 5px;
				padding-bottom: 5px;
				border-bottom: 3px $ColorPrimary solid;
			}
			h2 {
				font-size: 0.5em;
			}
		}

		nav.main {
			a {
				color: $ColorBackgroundContent;
				font-size: 0.9em;
				margin-left: getGridSize(1, horizontal);
				transition: $HeaderColorTansition;

				&:hover {
					color: $ColorPrimary;
				}
				&.active {
					color: $ColorPrimary;
					font-weight: bold;
				}

				&.experience-link {
					left: calc(#{$Timeline_PositionLeft} - #{getGridSize(2, horizontal)});
					margin-left: -3.9em;
					transition: $HeaderColorTansition;
					position: absolute;
		
					display: flex;
					flex-wrap: nowrap;
					align-items: center;
					flex-direction: row;
					justify-content: space-between;
		
					.skills, .references {
						display: inline-block;
					}
					.skills {
						transform: translateY(-20%);
					}
					.references {
						transform: translateY(20%);
					}
		
					.circle {
						color: $ColorThird;
						position: relative;
						display: inline-block;
						padding: 0 1.1em;
		
						&:after {
							content: '';
							z-index: -1;
							top: 50%;
							left: 50%;
							display: block;
							border-radius: 50%;
							position: absolute;
							background-color: $ColorBackgroundLight;
							width: 2em;
							height: 2em;
							background-color: $ColorBackgroundContent;
							transform: translate(-50%, -50%);
						}
					}
				}
			}
		}
	}
}

#app.history__is-active:not(.experience-overview__active) #page-header {
	&:after {
		content: '';
		z-index: 1;
		top: 0;
		left: 0;
		height: 10vh;
		min-height: 150%;
		width: $HistoryMainWidth;
		position: absolute;
		background-image: linear-gradient(to bottom, rgba($Color1,1) 30%,rgba($Color1,0) 100%);
	}
}

#app {
	&.header__bg-active header#page-header {
		background-color: $ColorBackgroundDark;

		&:after {
			display: block;
		}
	}

	&.header__left-dark header#page-header {
		.logo, .experience-link, .experience-link .circle {
			color: $ColorThird;
			background-color: $ColorBackgroundLight;
		}
	}

	&.header__right-dark header#page-header {
		nav.main a:not(.active):not(:hover) {
			color: $ColorThird;

			&.experience-link {
				color: $ColorBackgroundLight;
			}
		}
	}	
}