.intro, .outro {
	margin-bottom: 2em;

	.textarea_columns {

		@media (min-width: $MobileNavBreak) {
			column-gap: getGridSize(2, horizontal);
		
			column-width: auto;
			-o-column-width: auto;
			-moz-column-width: auto;
			-webkit-column-width: auto;
		
			column-count: 2;
			-o-column-count: 2;
			-moz-column-count: 2;
			-webkit-column-count: 2;
		}
	}

	h2 {
		@extend .h2;
		font-size: 1.5em;
		column-span: all;
		margin-bottom: 1em; 
		text-transform: uppercase;
	}

	h4 {
		@extend .h3;
		color: inherit;
	}
}