//#region Configuration
//#subregion Colors
$Timeline_BackgroundColor: $ColorBackgroundContent;
$Timeline-Active_BackgroundColor: $ColorBackgroundContent;
//#endsubregion

//#subregion Sizes and Positions
$Timeline-Line_Width: 6px;
$Timeline_PositionLeft: getGridSize(16, vertical);


$EndMarker_PositionTop: getGridSize(3, horizontal);
$BeginMarker_PositionBottom:getGridSize(3, horizontal);

$Timespan_Height: (
	Previous: getGridSize(19, horizontal),
	Next: getGridSize(10, horizontal),
);

$CurrentTimeSpan_Height: 100 - (map-get($Timespan_Height, Previous) + map-get($Timespan_Height, Next));

//#subregion after Animation
$Timespan-NavigationPrevActive_Height: (
	Previous: getGridSize(20, horizontal),
	Next: getGridSize(9, horizontal),
);
$Timespan_NavigationNextActive_Height: (
	Previous: getGridSize(9, horizontal),
	Next: getGridSize(20, horizontal),
);
//#endsubregion

//#endsubregion
//#endregion

//#region mixins calculation variables
@mixin NavigationState($type, $timespan_height) {
	&.navigation-#{$type}-active {
		.timeline {

			.timespan {
				&.timespan-previous {
					height: map-get($timespan_height, Previous);
				}
				&.timespan-next {
						height: map-get($timespan_height, Next);
				}
			}

			.navigation-#{$type} li {
				top: 0 !important;
			}
		}

		.history-entry .history-header {
			height: 100 - (map-get($timespan_height, Previous) + map-get($timespan_height, Next));
			bottom: map-get($timespan_height, Next);
		}
	}
}
//#endregion

@import './history/history-entry';
@import './history/experience';
@import './history/timeline';

.history {
	@include NavigationState('previous', $Timespan-NavigationPrevActive_Height);
	@include NavigationState('next', $Timespan_NavigationNextActive_Height);

	width: 100vw + $Viewport_Padding_Vertical;
	overflow: hidden;
	margin: $Viewport_Padding_Horizontal * -1 $Viewport_Padding_Vertical * -1;
	padding: $Viewport_Padding_Horizontal $Viewport_Padding_Vertical;
}
