.experience-overview {
	
	padding:   getGridSize(1, horizontal) getGridSize(2, horizontal) 0;
	overflow: hidden;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	background-color: $ColorThird;

	.experience-overview--title {
		width: 100%;
		color: $ColorBackgroundContent;
		text-transform: uppercase;
		margin-bottom: 0.65em;
	}
	.experience-overview--type-title {
		margin-bottom: 1em;
	}

	.skills {
		flex-grow: 2;

		.experience-overview--title {
			position: relative;
			margin-bottom: 0;
			padding-bottom: 0.65em;

			&:after {
				content: '';
				display: block;
				bottom: 0;
				left: 0;
				height: 0.25em;
				width: 100vw;
				margin-left: calc((100vw - 100%) / 2 * -1);
				position: absolute;
				background-color: $ColorBackgroundContent;
			}
		}

		> .experience-item-wrapper {
			display: flex;
			flex-wrap: wrap;
			flex-direction: row;

			.experience-type {
				order: 2;
				width: 100%;
				margin-bottom: 10vmin;

				&.Frontend, &.Backend {
					order: 1;
				}

				@media (min-width: 460px) {
					width: calc(50% - 10vmin);
					margin-right: 10vmin;
					margin-bottom: 5vmin;
				}

				.experience-overview--type-title {
					&:after {
						content: '';
						width: 100%;
						height: 0.3rem;
						display: block;
						margin-top: 0.5em;
						background-color: $ColorBackgroundContent;
					}
				}

				.experience-item-wrapper {
					columns: 2 200px;

					.category-wrap {
						margin-bottom: 0.8em;
						page-break-inside: avoid;
						break-inside: avoid;
					}

					.experience-item, .category-headline {
						padding: 0 0.5em;
						font-size: 0.75em;
						margin-bottom: 0.2em;
					}

					.experience-item {
						position: relative;
						margin-right: 0.2em;
						margin-bottom: 0.3em;
						display: inline-block;

						.experience-level {
							top: 0;
							right: 0;
							width: 1.5em;
							height: 1.5em;
							padding: 0;
							font-size: 0.7em;
							line-height: 1.6em;
							text-align: center;
							position: absolute;
							font-weight: 300;
							border-radius: 50%;
							transform: translate(50%, -50%);
						}
					}
					
					.category-headline {
						color: $ColorPrimary;
					}
				}
			}
		}
	}

	.references {
		width: 100vw;
		position: relative;
		left: calc((100vw - 100%) / 2 * -1);
		padding:  getGridSize(1, vertical) getGridSize(2, horizontal);
		background-color: $ColorBackgroundContent;

		.experience-overview--title {
			color: $DarkCopy_Color;
			&:after {
				content: '';
				width: 100%;
				height: 0.3rem;
				display: block;
				margin-top: 0.5em;
				background-color: $DarkCopy_Color;
			}
		}

		.experience-item-wrapper {
			display: flex;
			flex-wrap: wrap;
			align-items: center;
			justify-content: space-evenly;

			.experience-item {
				width: 10em;
				min-width: 20vw;
				
				a {    
					display: table-cell;
					vertical-align: middle;
					text-align: center;
					width: 20em;
					height: 6em;

					img {
						max-width: 100%;
						max-height: 100%;
					}
				}
			}
		}
	}

	@import './ExperienceOverview_Level';
	@import './ExperienceOverview_Legend';
	@import './ExperienceOverview_SingleExp';
}