.history-entry {
	width: 100%;
	overflow: hidden;
	position: relative;

	&:nth-child(odd) .history-main .timespan .date {
		padding-left: 0;
		padding-right: calc(#{$Timeline_Marker_Width + ($Timeline_Marker_Width / 2)});
		transform: translateX(-100%);
		left: calc(#{$Timeline_PositionLeft} + #{$Timeline-Line_Width / 2});
		&:before {
			left: auto;
			right: 0;
		}
	}

	.history-main {
		margin-top: -1px;
		min-height: $HistoryMain_MinHeight;
		position: relative;
		width: $HistoryMainWidth;

		display: flex;
		align-items: stretch;
		flex-direction: column;
		justify-content: space-between;
		transition: min-height 0.5s ease-in-out, padding 0.2s 0.2s ease-in-out;

		background-color: $Color1;
		background-image: $HistoryGradient;

		&:after, &:before {
			content: '';
			z-index: 1;
			height: 20vh;
			width: 100%;
			left: 0;
			bottom: 0;
			position: absolute;
			background-image: linear-gradient(to top, rgba($Color1,1) 0% ,rgba($Color1,0) 100%);
		}

		&:before {
			top: 0;
			bottom: auto;
			transform: rotate(180deg)
		}
	}

	.timespan {
		z-index: 2;
		order: 1;
		flex-grow: 2;
		min-height: 10em;
		overflow: hidden;
		position: relative;

		&:before {
			content: '';
			top: 1px;
			left: $Timeline_PositionLeft;
			width: $Timeline-Line_Width;
			height: 100vh;
			display: block;
			position: absolute;
			transform: translateX(50%);
			background-color: $Timeline_BackgroundColor;
		}

		&.start {
			order: 1;
			flex-grow: 3;

			.date {
				top: 1em;				
			}
		}

		&.end {
			order: 3;

			.date {
				bottom: 1em;				
			}
		}

		.date {
			font-size: 1.07em;
			color: $Timeline_BackgroundColor;
			
			padding-left: calc(#{$Timeline_Marker_Width + ($Timeline_Marker_Width / 2)});
			
			left: calc(#{$Timeline_PositionLeft} + #{$Timeline-Line_Width + $Timeline-Line_Width / 2});
			position: absolute;

			&:before {
				content: '';
				top: 50%;
				left: 0;
				height: $Timeline-Line_Width;
				width: $Timeline_Marker_Width;
				display: block;
				position: absolute;
				transform: translateY(-50%);
				background-color: $Timeline_BackgroundColor;
			}
		}
	}
	
	.history-institutions {
		order: 2;
		width: 65%;
		transform: translateX(-50%);
		margin-left: $Timeline_PositionLeft;

		display: flex;
		flex-wrap: wrap;
		padding: 1em  $ComponentPadding_Horizontal;
		flex-direction: column;
		justify-content: center;

		transition: flex-grow 0.5s ease-in-out;

		

		.history-title, .duration, .timespan {
			color: $LightCopy_Color;
			transition: color 0.3s ease-in-out;
		}

		.history-title {
			margin-bottom: 1em;
		}
	}
	
	.institution {
		min-width: 100px;
		margin-bottom: 4em;
		transition: opacity 0.5s ease-in-out;

		&:last-child {
			margin-bottom: 0;
		}
	}

	.duration {
		display: block;
		padding-bottom: getGridSize(1, vertical) / 1.8;
		margin-bottom: getGridSize(1, vertical) / 3;
		border-bottom: 1px solid $ColorSecondary;
	}
}

