.history-entry {
	width: 100vw;
	height: 100vh;
	position: relative;
	color: $ColorSecondaryDarker;

	.history-main {
		width: 70%;
		height: 100%;
		background-image: radial-gradient(
			circle at 65% 50%,
			$Color2 1%,
			$Color1 75%
    );
	}

	.history-header {
		order: 1;
		bottom: map-get($Timespan_Height, Next);
		height: $CurrentTimeSpan_Height;
		width: 20%;
		position: absolute;
		left: $Timeline_PositionLeft;
		transform: translateX(-50%);
		transition: bottom 0.55s linear;

		.inner {
			top: 50%;
			position: absolute;
			transform: translateY(-50%);
		}

		h1 {
			margin-bottom: 20px;
		}
	}

	.history-content {
		order: 3;
		width: 40%;

		&.details-exists {
			width: 70%;
			right: -30%;
			height: 100%;
			position: absolute;

			.content {
				height: 100%;
			}
		}

		article {
			header {
				h3,
				h4 {
					display: inline-block;
				}

				h4 {
					&:before {
						content: ' | ';
						white-space: pre;
					}
				}
			}
		}
	}
}
