%TimelineEntry {
	color: $ColorTimeline;
	left: 50%;
	width: 50%;
	display: block;
	padding: 2px 0;
	padding-left: 25%;
	position: relative;
	transform: translateX(50%);

	&:before {
		content: '';
		top: 50%;
		left: -50%;
		width: 100%;
		display: block;
		position: absolute;
		height: $SizeTimelineLine;
		background-color: $ColorTimeline;
		transform: translate(-50%, -50%);
	}

	a {
		display: block;
		position: relative;
	}
}

.timeline {
	top: 0;
	width: 30%;
	height: 100%;
	opacity: 0.5;
	overflow: hidden;
	position: absolute;
	left: $PositionTimelineLeft;

	.inner {
		width: 20%;
		height: 100%;
		position: relative;

	}

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		list-style: none;

		li {
			margin: 0;
			padding: 0;
			width: 100%;
			transition: top 1s ease-in-out;
		}
	}

	.prev, .next {
		left: 0;
		position: absolute;

		li {
			@extend %TimelineEntry;
		}
	}

	.current {
		--current-time-span-min-height: $MinHeightCurrentTimeSpan;

		top: 0;
		left: 0;
		height: 100%;
		display: block;
		position: absolute;
		transition: bottom 0.5s linear;

		.current-date-marker {
			width: 100%;
			display: block;
			position: absolute;
			transition: height 0.55s linear;

			&:before {
				content: '';
				left: 50%;
				height: 100%;
				margin: 0 auto;
				display: block;
				position: absolute;
				width: $SizeTimelineLine;
				background-color: $ColorTimeline;
				transform: translateX(-50%);
				transition: height 0.5s linear;
			}

			.date {
				@extend %TimelineEntry;

				margin: 20% 0;
				width: 100%;
				cursor: pointer;
				position: absolute;

				&:after {
					@extend %TimelineEntry:before;

					content: '';
					width: 50%;
					left: -50%;
					position: absolute;
					transform: translateX(-50%);
				}

				&:hover {
					opacity: 1;
				}
			}

			&.begin-marker {
				top: 0;
				height: ($PositionBottomCurrent * -1 + 100) - ($HeightCurrent + ($CurrentSpace / 2));

				.date {
					bottom: 0;

					&:after {
						top: -15%;
					}
				}
			}

			&.end-marker {
				bottom: 0;
				height: $PositionBottomCurrent + ($CurrentSpace / 2);

				.date {
					top: 0;

					&:after {
						top: auto;
						bottom: -15%;
					}
				}
			}

		}
	}

	&:not(.has-prev-entries) .current-date-marker.begin-marker .date:after {
		display: none;
	}
	&:not(.has-next-entries) .current-date-marker.end-marker .date:after {
		display: none;
	}

	.prev {
		top: 0;
	}

	.next {
		bottom: 0;
	}
}
