%TimelineEntry {
	color: $Timeline_BackgroundColor;
	left: 50%;
	width: 50%;
	font-size: 0.7em;
	display: block;
	text-align: right;
	padding: getGridSize(0.1, horizontal) 0;
	padding-left: 25%;
	position: relative;
	transform: translateX(50%);

	&:before {
		content: '';
		top: 50%;
		left: -50%;
		width: 100%;
		display: block;
		position: absolute;
		height: $Timeline-Line_Width;
		background-color: $Timeline_BackgroundColor;
		transform: translate(-50%, -50%);
	}

	a, span {
		min-width: 3.7em;
		display: block;
		position: relative;
	}
}

.timeline {
	z-index: 2;
	top: 0;
	width: 30%;
	height: 100%;
	opacity: 0.5;
	display: block;
	overflow: hidden;
	position: absolute;
	left: $Timeline_PositionLeft;

	.inner {
		width: 30%;
		height: 100%;
		position: relative;

	}

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		list-style: none;

		li {
			margin: 0;
			padding: 0;
			width: 100%;
			transition: top 1s ease-in-out;
		}
	}

	.navigation-previous, .navigation-next {
		left: 0;
		position: absolute;

		li {
			@extend %TimelineEntry;
		}
	}
	.navigation-previous {
		top: 0;
	}
	.navigation-next {
		bottom: 0;
	}

	.timespan {
		width: 100%;
		display: block;
		position: absolute;
		transition: height 0.55s linear;

		&:before {
			content: '';
			left: 50%;
			height: 100%;
			margin: 0 auto;
			display: block;
			position: absolute;
			width: $Timeline-Line_Width;
			background-color: $Timeline_BackgroundColor;
			transform: translateX(-50%);
			transition: height 0.5s linear;
		}

		.current-date-marker {
			width: 100%;
			cursor: pointer;
			position: absolute;

			&:before, &:after {
				@extend %TimelineEntry:before;

				content: '';
				top: getGridSize(0.5, horizontal) * -1;
				width: 50%;
				left: 50%;
				position: absolute;
				transform: translateX(-50%);
			}
			&:after {
				top: auto;
				bottom: getGridSize(0.5, horizontal) * -1;
			}

			.date {
				padding: {
					bottom: 6px;
					left: 6px;
				};
				width: 80%;
				@extend %TimelineEntry;
			}

			&:hover {
				opacity: 1;
			}
		}

		&.timespan-previous {
			top: 0;
			height: map-get($Timespan_Height, Previous);

			.current-date-marker {
				bottom: $BeginMarker_PositionBottom;
			}
		}

		&.timespan-next {
			bottom: 0;
			height: map-get($Timespan_Height, Next);

			.current-date-marker {
				top: $EndMarker_PositionTop;
			}
		}
	}

	&:not(.has-prev-entries) .current-date-marker.begin-marker .date:after {
		display: none;
	}
	&:not(.has-next-entries) .current-date-marker.end-marker .date:after {
		display: none;
	}
}
