@import './history/experience-level';
@import './history/history-entry';
@import './history/history-details';
@import './history/experience';

.history {
	width: 100%;
	overflow: hidden;
	margin-bottom: 2em;
}
