
.IssueTracker {
    z-index: 8;
    width: 100%;
    height: 100%;
    padding: 2em 0;
   
    position: fixed;

    transition-property: opacity, visibility;
    transition: 1s ease-in-out; 

    .IssueTracker_Inner {
        width: 80vw;
        max-width: 1000px;
        max-height: 100%;
        overflow: auto;
        padding: 2em;
        padding-top: 3em;
        margin: 0 auto;
        position: relative;
        color: $ColorBackgroundDark;
        background-color: $ColorBackgroundContent;

        .IssueTracker_CloseButton {
            @include CloseButton();

            top: 0.5em;
            left: 0.5em;
            position: absolute;
        }
    }

    .IssueTracker_From_ElementWrap {
        padding: 0.5em;
        border-radius: 0.25em;
        color: $ColorBackgroundContent;
        background-color: $ColorBackgroundDark;
    }

    .Form_Textarea {
        border-radius: 0.25em;
    }

    .IssueTracker_Form_TextInput-Title {
        border-radius: 0.25em;
        padding: 0.25em;
        width: 100%;
        font-size: 2em;
        font-weight: 300;
        padding-bottom: 0.1em;
        margin-bottom: 0.2em;
        border: none;
        border-bottom: 2px solid $ColorBackgroundDark;

        &:focus {
            outline: none;
            border-bottom: 2px solid $ColorPrimary;
        }
    }

    &:before {
        content: '';
        z-index: -1;
        width: 100%;
        height: 100%;

        top: 50%;
        left: 50%;
        position: fixed;
        transform: translate(-50%, -50%);
        
        background-color: rgba($ColorBackgroundDark, 0.5);
    }

    .IssueTracker_ResponseMessage {
        z-index: 3;
        top: 50%;
        left: 50%;
        max-width: 300px;
        position: fixed;
        padding: 1em;
        visibility: hidden;
        transform: translate(-50%, -50%);
        color: $ColorBackgroundDark;
        background-color: $ColorBackgroundContent;
    }

    /**

    States

    **/
    &.IssueTracker_ResponseMessage-isActive {
        &:before {
            content: '';
            z-index: 2;
        }
        
        .IssueTracker_ResponseMessage {
            visibility: visible;
            animation-name: bounceIn;
            @include Animated(1, 1s);
            transition: visibility 1s ease;
        }
    }

    &:not(.IssueTracker_isActive) {
        opacity: 0;
        visibility: hidden;
    }

    &.IssueTracker_isActive {
        .IssueTracker_Inner {
            animation-name: zoomInUp;
            @include Animated(1, 1s);
        }
    }

    @import './IssueTracker/IssueTracker_Label';
    @import './IssueTracker/IssueTracker_Issues';
    @import './IssueTracker/IssueTracker_Contributer';
}