@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700');

@import '../../../node_modules/normalize-scss/sass/normalize';

@include normalize();

* {
	box-sizing: border-box;
}


@import './globals/mixins';
@import './globals/variables';
@import './globals/extends';
@import './globals/typo';
@import './globals/keyframes';

pre {
	margin: 0;
	font-size: inherit;
	font-family: inherit;
}

.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	.flex-item {
		@for $i from 1 through 10 {
      &.flex-item-size { width: 10 * $i }
			&.flex-grow-#{$i} { flex-grow: $i; }
	  	&.flex-order-#{$i} { order: $i; }
		}
	}
}

.justify-chars {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
}

a {
	&[target=_blank] {
	}
}

button {
	margin: 0;
	display: inline;
	padding: 0;
	border: none;
	color: inherit;
	font-weight: inherit;
	text-align: inherit;
	background-color: transparent;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}