@media print {
    html body {
        background-color: #fff;

        #app, #app, #app, #app, #app {
            h1, h2, h3, h4, h5, h6, p, a, time, dl, span, button {
                color: #000;
                border-color: #000;
            }

            a[target=_blank]:after {
                content: '(' attr(href) ')';
                font-weight: 400;
                display: block;
            }

            > div, main {
                overflow: visible;
                height: auto;
            }

            .textarea.textarea_columns {
                columns: initial;
            }

            header#page-header {
                font-size: 1.2em;
                position: relative;
                padding: 0;
                margin-bottom: 1em;
                background-color: transparent !important;

                &:after {
                    background-image: none !important;
                    display: none !important;
                }

                .logo {
                    display: block;
                }

                nav.main {
                    display: none;
                }
            }

            .intro, .outro {
                min-height: 0;
            }
            .experience-overview {
                padding: 0;
                margin-top: 0;
                height: auto;
                overflow: visible;
                background-color: transparent;

                &:after {
                    display: none;
                }

                .inner {
                    padding: 0;
                }

                .experience-level-legend {
                    width: auto;
                    margin: 0 auto;
                    overflow: visible;

                    .legend-frame {
                        .experience-level-toggle {
                            min-width: 0;

                            &:not(.active) {
                                display: none;
                            }

                            &:after {
                                display: none;
                            }

                            .experience-level {
                                padding: 0.4em;
                            }

                            padding: 2em;
                            text-decoration: none;
                        }
                    }
                }

                .skills {
                    page-break-after: always;

                    .experience-overview--type-title {
                        margin-bottom: 0.5em;
                        &:after {
                            display: none;
                        }
                    }

                    .category-headline {
                        margin-top: 0;
                    }

                    .experience-item-wrapper {
                        columns: initial;
                    }
                    .experience-type {
                        margin: 0;
                        break-inside: avoid;
                        page-break-inside: avoid;
                    }

                    .experience-item {
                        display: block;
                        margin-bottom: 0;
                        break-inside: avoid;

                        a {
                            font-weight: 700;
                        }

                        .experience-level {
                            font-size: 1.2em;
                            display: inline-block;
                            position: static;
                            transform: none;
                            font-weight: 400;

                            &:before {
                                display: inline;
                                content: '(';
                            }

                            &:after {
                                display: inline;
                                content: ')';
                            }
                        }
                    }
                }

                .references {
                    padding: 0;
                    .experience-item-wrapper {
                        .experience-item {
                            width: 50%;
                            margin-bottom: 1em;
                        }
                    }
                }
            }

            .history {
                .history-entry {
                    .history-main {
                        min-height: 0;
                        display: block;
                        background: none;

                        &:before, &:after {
                            display: none;
                        }

                        .timespan {
                            display: inline;

                            &:before, &:after {
                                display: none;
                            }

                            .date {
                                padding: 0;
                                position: static;

                                &:before, &:after {
                                    display: none;
                                }
                            }
                        }
                    }
                }

                .history-institutions {
                    padding: 0;

                    .institution {
                        opacity: 1;
                        height: auto;
                        display: block;
                        margin-bottom: 1em;
                    }
                }
            }

            footer {
                display: none;
            }
            #page-header {
            }
            .main-wrap {
            }
        }
    }
}