#app.experience-overview__active .experience-overview {
	opacity: 1;
	height: 100vh;	
	padding:  getGridSize(1, vertical) getGridSize(2, horizontal);
	padding-top: 6em;
}

.experience-overview {	
	z-index: 2;
	top: 0;
	left: 0;
	width: 100vw;
	position: fixed;
	background-color: #475157;

	height: 0;
	opacity: 0;
	padding:  0 getGridSize(2, horizontal);
	transition: height 0.35s ease-in-out, padding 0.35s ease-in-out, opacity 0.35s ease-in-out;

	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	justify-content: space-between;

	.experience-item-wrapper {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
	}

	& > .experience-item-wrapper {
		flex-grow: 1;

		.experience-level-legend {
			order: 2;
			align-self: flex-end;
		}	
	}

	.experience-type {
		order: 2;
		width: 100%;
		
		h3 {
			margin-bottom: 0.5em;
			text-transform: uppercase;

			&:after {
				content: '';
				width: 100%;
				height: 0.3rem;
				display: block;
				margin-top: 0.5em;
				background-color: $ColorBackgroundContent;
			}
		}

		.experience-item-wrapper {
			flex-direction: row;
			.experience-category {
				width: 100%;
				margin-bottom: 0.5em;

				@media (min-width: 600px) {
					width: calc(50% - 1em);
				}

				.experience-item {
					width: 100%;
					display: flex;
					flex-wrap: wrap;
					font-size: 0.75em;
					margin-bottom: 0.2em;
					
					@media (min-width: 1000px) {
						width: calc(50% - 1em);
					}
				}
			}
		}

		&.reference {
			width: 100vw;
			position: relative;
			left: calc((100vw - 100%) / 2 * -1);
			padding:  getGridSize(1, vertical) getGridSize(2, horizontal);
			background-color: $ColorBackgroundContent;

			h3 {
				color: $DarkCopy_Color;

				&:after {
					background-color: $DarkCopy_Color;
				}
			}

			.experience-item-wrapper {
				align-items: center;
				justify-content: space-evenly;

				.experience-item {
					width: 10em;			
				}
			}
		}
	}
}

.experience-level-legend {
	display: flex;
	justify-content: space-between;

	button {
		cursor: pointer;
		font-size: 0.65em;
		line-height: 1.7em;
		font-style: italic;
		padding: 1.5em 0.5em;
		position: relative;

		&:after, &:before {
			content: '';
			display: block;
			top: 0;
			right: 0;
			height: 0.4rem;
			width: 100%;
			position: absolute;
			background-color: $ColorBackgroundContent;
		}

		&:after {
			width: 0;
			transition: width 0.1s ease;
		}

		&.level_discarded:after {
			background-color: $ColorDiscarded;
		}
	
		&.level_untrained:after {
			background-color: $ColorUntrained;
		}
	
		&.level_interested:after {
			background-color: $ColorInterested;
		}
	
		&.level_assess:after {
			background-color: $ColorAssess;
		}
	
		&.level_mastered:after {
			background-color: $ColorMastered;
		}

		&.active {
			text-decoration: underline;

			&:after {
				width: 100%;
			}
		}

		.experience-level {
			margin-left: 0;
			margin-right: 0.25em;
			border-radius: 1.2em;
		}
	}
}
.experience-level {
	font-size: 1em;
	line-height: 1em;
	border-radius: 50%;
	margin-left: 0.25em;
	padding: 0.3em 0.6em 0.2em;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;

	&.level_discarded {
		background-color: $ColorDiscarded;
	}

	&.level_untrained {
		background-color: $ColorUntrained;
	}

	&.level_interested {
		background-color: $ColorInterested;
	}

	&.level_assess {
		background-color: $ColorAssess;
	}

	&.level_mastered {
		background-color: $ColorMastered;
	}
}