.experiences {
	width: 100%;
	height: 100%;
}

.experience {
	position: absolute;
	border-radius: 20px;
	padding: 10px 15px;
	display: inline-block;
	background-color: #fff;

	top: 30px;
	left: 50px;

	.title {
		z-index: 1;
		position: relative;		
	}

	.appereance-pointer {
		z-index: -1;
		top: 0;
		left: 0;
		display: block;
		position: absolute;
	}

	&.skill {
		.appereance-pointer {
			width: 30px;
			height: 30px;
			transform: translateX(-120%);

			&:after, &:before {
				content: '';
				top: 50%;
				left: 50%;
				width: 15px;
				height: 15px;
				display: block;
				position: absolute;
				border-radius: 50%;
				background-color: #fff;
				transform: translateY(-50%);
				transform-origin: 150% center;
			}
		
			&:before {
				top: 50%;
				left: 0;
				width: 10px;
				height: 10px;
			}
		}
	}

	&.reference {
		.appereance-pointer {
			top: 50%;
			transform-origin: 100% center;
			transform: translate(-75%, -50%);

			&:before {
				content: '';
				left: 0;
				width: 0;
				height: 0;
				display: block;
				border-style: solid;
				border-width: 0 0 30px 60px;
				border-color: transparent transparent #fff transparent;
			}

			&.align-right {
				transform-origin: 0 center;
				transform: translate(-75%, -50%);

				&:before {
					border-width: 30px 60px 0 0;
					border-color: #fff transparent transparent transparent;
				}
			}
		}
	}
}
