#app.experience-overview__active {
	> div, main {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}

	.experience-overview {
		margin-top: 0;
	}

	footer {
		display: none;
	}
}

.experience-overview {
	background-color: $ColorThird;

	width: 100vw;
	height: 100vh;
	overflow: scroll;
	margin-top: -100vh;

	.inner {	
		padding:  0 getGridSize(2, horizontal);
		padding-top: 6em;
	}

	.experience-overview--title {
		width: 100%;
		color: $ColorBackgroundContent;
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}
	.experience-overview--type-title {
		margin-bottom: 1em;
	}

	.skills {
		> .experience-item-wrapper {
			display: flex;
			align-items: center;
			flex-direction: column;
			justify-content: space-between;

			.experience-type {
				max-width: 90%;
				margin: 0 auto;

				.experience-overview--type-title {

				}

				.experience-item-wrapper {
					columns: 3 250px;
					column-gap: 2em;
					
					.experience-item, .category-headline {
						display: block;
						width: auto;
						font-size: 0.75em;
						margin-bottom: 0.2em;
					}
				}
			}
		}
	}

	.references {
		width: 100vw;
		position: relative;
		left: calc((100vw - 100%) / 2 * -1);
		padding:  getGridSize(1, vertical) getGridSize(2, horizontal);
		background-color: $ColorBackgroundContent;

		.experience-overview--title {
			color: $DarkCopy_Color;
			&:after {
				content: '';
				width: 100%;
				height: 0.3rem;
				display: block;
				margin-top: 0.5em;
				background-color: $DarkCopy_Color;
			}
		}

		.experience-item-wrapper {
			display: flex;
			align-items: center;
			justify-content: space-evenly;

			.experience-item {
				width: 10em;			
			}
		}
	}
}

.experience-level-legend {
	display: flex;
	align-items: stretch;
	justify-content: space-between;
	margin-bottom: 1em;
	position: relative;

	&:before {
		content: '';
		display: block;
		top: -0.3em;
		right: 0;
		height: 0.3em;
		width: 100%;
		position: absolute;
		background-color: $ColorBackgroundContent;
	}

	.experience-level-toggle {
		cursor: pointer;
		font-weight: 700;
		font-size: 0.7em;
		line-height: 1.7em;
		font-style: italic;
		padding: 1em 0.5em;
		position: relative;
		margin-bottom: 0.4em;
		transition: 0.35s ease-in-out;
		transition-property: color, opacity;

		&:after, &:before {
			content: '';
			display: block;
			bottom: -0.4em;
			right: 0;
			height: 0.4em;
			width: 100%;
			position: absolute;
			background-color: $ColorBackgroundContent;
		}

		&:after {
			width: 0;
			transition: width 0.1s ease;
		}

		&.level_discarded:after {
			background-color: $ColorDiscarded;
		}
	
		&.level_untrained:after {
			background-color: $ColorUntrained;
		}
	
		&.level_interested:after {
			background-color: $ColorInterested;
		}
	
		&.level_assess:after {
			background-color: $ColorAssess;
		}
	
		&.level_mastered:after {
			background-color: $ColorMastered;
		}

		&:not(.active) {
			opacity: 0.3;
			.experience-level {
				background-color: $ColorBackgroundDark;
			}
		}

		&.active {
			&:after {
				width: 100%;
			}
		}

		.experience-level {
			margin-left: 0;
			margin-right: 0.25em;
			border-radius: 1.2em;
		}
	}
}
.experience-level {
	font-size: 1em;
	font-weight: 700;
	line-height: 1em;
	border-radius: 50%;
	margin-left: 0.25em;
	padding: 0.3em 0.6em 0.2em;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;

	&.level_discarded {
		background-color: $ColorDiscarded;
	}

	&.level_untrained {
		background-color: $ColorUntrained;
	}

	&.level_interested {
		background-color: $ColorInterested;
	}

	&.level_assess {
		background-color: $ColorAssess;
	}

	&.level_mastered {
		background-color: $ColorMastered;
	}
}