$HistoryMain_MinHeight: 75vh;

.history-entry {
	margin-top: -1px;
	width: 100%;
	overflow: hidden;
	position: relative;

	.history-main {
		min-height: $HistoryMain_MinHeight;
		position: relative;
		width: $HistoryMainWidth;

		display: flex;
		align-items: stretch;
		flex-direction: column;
		justify-content: space-between;
		transition: min-height 0.5s ease-in-out, padding 0.2s 0.2s ease-in-out;

		background-color: $Color1;
		background-image: radial-gradient(
			circle at 65% 50%,
			$Color2 1%,
			$Color1 75%
		);

		&:after, &:before {
			content: '';
			z-index: 1;
			height: 20vh;
			width: 100%;
			left: 0;
			bottom: 0;
			position: absolute;
			background-image: linear-gradient(to top, rgba($Color1,1) 0% ,rgba($Color1,0) 100%);
		}

		&:before {
			top: 0;
			bottom: auto;
			transform: rotate(180deg)
		}
	}

	.timespan {
		z-index: 2;
		order: 1;
		flex-grow: 2;
		height: 7em;
		overflow: hidden;
		position: relative;

		&:before, .date {
			transition: left 0.3s ease-in-out;
		}

		&:before {
			content: '';
			top: 1px;
			left: $Timeline_PositionLeft;
			width: $Timeline-Line_Width;
			height: 100vh;
			display: block;
			position: absolute;
			transform: translateX(50%);
			background-color: $Timeline_BackgroundColor;
		}

		&.start {
			min-height: 10em;
			order: 1;

			.date {
				bottom: 0;				
			}
		}

		&.end {
			order: 3;

			.date {
				top: 0;				
			}
		}

		.date {
			color: $Timeline_BackgroundColor;
			
			padding: 0.8em 0;
			padding-left: $Timeline_Marker_Width;
			
			left: calc(#{$Timeline_PositionLeft});
			position: absolute;

			&:before, &:after {
				content: '';
				top: 50%;
				left: $Timeline-Line_Width / 2;
				height: $Timeline-Line_Width;
				width: $Timeline_Marker_Width / 2;
				display: block;
				position: absolute;
				background-color: $Timeline_BackgroundColor;
				transform: translate(-100%, -50%);
			}

			&:after {
				left: $Timeline-Line_Width / 2 + $Timeline-Line_Width;
				transform: translateY(-50%);
			}
		}
	}
	
	.history-institutions {
		order: 2;
		width: 65%;
		transform: translateX(-50%);
		margin-left: $Timeline_PositionLeft;

		display: flex;
		flex-wrap: wrap;
		padding: 1em getGridSize(2, horizontal);
		flex-direction: column;
		justify-content: center;

		transition: flex-grow 0.5s ease-in-out;

		.institution {
			min-width: 100px;
			margin-bottom: 4em;
			transition: opacity 0.5s ease-in-out;
		}

		.history-title, .duration, .timespan {
			color: $LightCopy_Color;
			transition: color 0.3s ease-in-out;
		}

		.history-title {
			margin-bottom: 1em;
		}

		.institution-title {
		}

		.institution-subtitle {
			
		}

		.duration {
			display: block;
			padding-bottom: getGridSize(1, vertical) / 1.8;
			margin-bottom: getGridSize(1, vertical) / 3;
			border-bottom: 1px solid $ColorSecondary;
		}
	}
	
    &:last-child {
		.history-header {
			top: -5vh;
			left: $Timeline_PositionLeft;
			transform: translate(-50%, -50%);
			position: absolute;
		}

		.history-institutions {
			display: flex;
			flex-direction: row;
			align-items: stretch;
			justify-content: space-evenly;
			width: 100%;
			max-width: 100%;
			margin: 10vh 0;
			transform: translate(0);
			padding: 0 getGridSize(2, horizontal);
		}

		.timespan.end {
            display: none;
        }
		
		.history-details {
			z-index: 3;
			position: relative;
			width: $HistoryMainWidth;
            color: $ColorBackgroundDark;

            &:before {
                content: '';
                z-index: 1;
                height: 20vh;
                width: 100%;
                display: block;
                background-image: linear-gradient(to bottom, rgba($Color1,1) 0% ,rgba($Color1,0) 100%);
			}
			
            .close {
                display: none;
            }

            .textarea {
				padding: 2em 4em;
				margin: 0 getGridSize(2, horizontal);
				margin-top: -30vh;
				background-color: $ColorBackgroundContent;
            }
        }
    }
}

