.history-entry {
	width: 100%;
	position: relative;

	.history-main {
		min-height: 60vh;
		position: relative;
		width: $HistoryMainWidth;

		display: flex;
		align-items: stretch;
		flex-direction: column;
		justify-content: space-between;
		transition: min-height 0.5s ease-in-out, padding 0.2s 0.2s ease-in-out;

		background-color: $Color1;
		background-image: radial-gradient(
			circle at 65% 50%,
			$Color2 1%,
			$Color1 75%
		);

		&:after, &:before {
			content: '';
			z-index: 1;
			height: 20vh;
			width: 100%;
			left: 0;
			bottom: 0;
			position: absolute;
			background-image: linear-gradient(to top, rgba($Color1,1) 0% ,rgba($Color1,0) 100%);
		}

		&:before {
			top: 0;
			bottom: auto;
			transform: rotate(180deg)
		}
	}

	.timespan {
		z-index: 2;
		order: 1;
		flex-grow: 2;
		height: 7em;
		overflow: hidden;
		position: relative;

		&:before, .date {
			transition: left 0.3s ease-in-out;
		}

		&:before {
			content: '';
			left: $Timeline_PositionLeft;
			width: $Timeline-Line_Width;
			height: 100vh;
			display: block;
			position: absolute;
			transform: translateX(50%);
			background-color: $Timeline_BackgroundColor;
		}

		&.start {
			min-height: 10em;
			order: 1;

			.date {
				bottom: 0;				
			}
		}

		&.end {
			order: 3;

			.date {
				top: 0;				
			}
		}

		.date {
			color: $Timeline_BackgroundColor;
			
			padding: 0.8em 0;
			padding-left: $Timeline_Marker_Width;
			
			left: calc(#{$Timeline_PositionLeft});
			position: absolute;

			&:before, &:after {
				content: '';
				top: 50%;
				left: $Timeline-Line_Width / 2;
				height: $Timeline-Line_Width;
				width: $Timeline_Marker_Width / 2;
				display: block;
				position: absolute;
				background-color: $Timeline_BackgroundColor;
				transform: translate(-100%, -50%);
			}

			&:after {
				left: $Timeline-Line_Width / 2 + $Timeline-Line_Width;
				transform: translateY(-50%);
			}
		}
	}
	
	.history-institutions {
		order: 2;
		width: 50%;
		transform: translateX(-50%);
		margin-left: $Timeline_PositionLeft;

		display: flex;
		padding: 1em getGridSize(2, horizontal);
		flex-direction: column;
		justify-content: center;

		transition: flex-grow 0.5s ease-in-out;

		.institution {
			margin-bottom: 4em;
			transition: opacity 0.5s ease-in-out;
		}

		.history-title, .duration, .timespan {
			color: $LightCopy_Color;
			transition: color 0.3s ease-in-out;
		}

		.history-title {
			margin-bottom: 1em;
		}

		.institution-title {
			@extend h4;
		}

		.institution-subtitle {
			
		}

		.duration {
			display: block;
			padding-bottom: getGridSize(1, vertical) / 1.8;
			margin-bottom: getGridSize(1, vertical) / 3;
			border-bottom: 1px solid $ColorSecondary;
		}
	}

	.history-details {
		z-index: 5;
		opacity: 1;
		top: 0;
		height: 80vh;
		min-width: 10vw; 
		
		transition: opacity 0.5s 0.5s ease-in-out;

		position: absolute;
		left: $HistoryMainWidth - $HistoryDetailsOverlap;
		width: 100 - $HistoryMainWidth + $HistoryDetailsOverlap;

		padding: getGridSize(2, vertical) getGridSize(1, horizontal);
		padding-top: 6em;

		article {
			height: 100%;
			color: $ColorBackgroundDark;
			background-color: $ColorBackgroundContent;
			padding: getGridSize(2, vertical) getGridSize(1, horizontal);

			columns: 300px;

			header {
				h3,
				h4 {
					display: inline-block;
				}

				h4 {
					color: $ColorPrimary;

					&:before {
						content: ' | ';
						white-space: pre;
					}
				}
			}
		}
	}
}
