$DetailsWidth: 100 - $HistoryMainWidth + $HistoryDetailsOverlap;
$DetailsHeight: $HistoryMain_MinHeight - 20vh;
.history-details {
    opacity: 1;

    width: 100%;
    height: 100%;
    transition: opacity 0.5s 0.5s ease-in-out;

    top: 0;
    left: 0;
    position: absolute;

    $LeftPosition_From: $HistoryMainWidth - $HistoryDetailsOverlap;
    $LeftPosition_To: getGridSize(2, horizontal);

    &:not(.is-active) .history-details-content {
        left: $LeftPosition_From;
    }
    &.is-active .history-details-content {
        left: $LeftPosition_To;

        .close {
            opacity: 1;
        }
    }

    .history-details-content {
        z-index: 4;
        color: $ColorBackgroundDark;
        background-color: $ColorBackgroundContent;
        
        height: $DetailsHeight;
        overflow: hidden;
        width: 100%;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            height: 100%; /* match columns */
            z-index: 0;
        }
        
        top: 50%;
        position: absolute;
        transform: translate3d(0, -50%, 0);

        &.animated {
            animation-name: bounceInRightDetails;
            animation-duration: 0.5s;
            
            &.reversed {
                animation-direction: normal;
                animation-name: bounceOutRightDetails;
            }
        }

        .close {
            z-index: 2;
            top: 1em;
            left: 1em;
            opacity: 0;
            position: absolute;
            transition: opacity 0.3s ease-in-out;

            &:before {
                content: '✕';
                width: 2em;
                height: 2em;
                font-size: 1em;
                line-height: 2em;
                font-weight: 300;
                text-align: center;
                position: relative;
                border-radius: 50%;
                display: inline-block;
                margin-right: 0.4em; 
                color: $ColorBackgroundContent;
                background-color: $ColorBackgroundDark;
            }
        }

        .scroller {
            padding: 4em 4em 2em;
        }

        .columns {
            -webkit-column-width: 80vw;
            -webkit-column-gap: 2vw;
            -moz-column-width: 80vw;
            -moz-column-gap: 2vw;
            
            &:after {
                height: 100%;
            }
            
            @media (min-width: $MobileNavBreak) {
                max-width: 600px;
                -webkit-column-width: 50vw;
                -webkit-column-gap: 2em;
                -moz-column-width: 50vw;
                -moz-column-gap: 2em;
            }

            header {
                h3,
                h4 {
                    display: inline-block;
                }

                h4 {
                    color: $ColorPrimary;

                    &:before {
                        content: ' | ';
                        white-space: pre;
                    }
                }
            }
        }

    }

    @keyframes bounceInRightDetails {
        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        
        from {
            left: $LeftPosition_From;
        }
        
        60% {
            left:  $LeftPosition_From / 7 * -1;
        }
        
        75% {
            left: $LeftPosition_From / 4 * -1;
        }
        
        90% {
            left: $LeftPosition_From / 8;
        }
        
        to {
            left: $LeftPosition_To;
        }
    }

    @keyframes bounceOutRightDetails {
        from,
        60%,
        75%,
        90%,
        to {
            animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        }
        
        from {
            left: $LeftPosition_To;
        }
        
        60% {
            left: $LeftPosition_To / 4 * -1;
        }
        
        75% {
            left: $LeftPosition_To / 8;
        }
        
        90% {
            left:  $LeftPosition_To / 7 * -1;
        }
        
        to {
            left: $LeftPosition_From;
        }
    }
}