%TimelineEntry {
	left: 50%;
	width: 50%;
	font-size: 0.7em;
	display: block;
	text-align: right;
	padding: getGridSize(0.1, horizontal) 0;
	padding-left: 25%;
	position: relative;
	transform: translateX(50%);

	&:before {
		content: '';
		top: 50%;
		left: -50%;
		width: 100%;
		display: block;
		position: absolute;
		height: $Timeline-Line_Width;
		transform: translate(-50%, -50%);
		background-image: linear-gradient(
			to right,
			$Timeline_BackgroundColor 0%,
			$Timeline_BackgroundColor calc(50% - 3px),
			transparent calc(50% - 3px),
			transparent calc(50% + 3px),
			$Timeline_BackgroundColor calc(50% + 3px),
			$Timeline_BackgroundColor 100%
		);
	}

	transition: background 1s ease-in-out;

	a, span {
		min-width: 3.7em;
		display: block;
		position: relative;
	}
}

.timeline {
	z-index: 2;
	top: 0;
	width: 30%;
	height: 100%;
	display: block;
	overflow: hidden;
	position: absolute;
	color: $Timeline_BackgroundColor;
	left: $Timeline_PositionLeft;

	.inner {
		width: 30%;
		height: 100%;
		position: relative;

	}

	ul {
		margin: 0;
		padding: 0;
		width: 100%;
		display: block;
		list-style: none;

		li {
			margin: 0;
			padding: 0;
			width: 100%;
			transition: top 1s ease-in-out;
		}
	}

	.navigation-previous, .navigation-next {
		left: 0;
		position: absolute;

		li {
			@extend %TimelineEntry;
			color: $Timeline-Active_BackgroundColor;

			&:before {
				z-index: 1;
				background-color: $Timeline-Active_BackgroundColor;
			}
		}
	}
	.navigation-previous {
		top: 0;
	}
	.navigation-next {
		bottom: 0;
	}

	.timespan {
		width: 100%;
		display: block;
		cursor: pointer;
		position: absolute;
		transition: height 0.55s linear;

		&:before, &:after {
			content: '';
			left: 50%;
			height: 100%;
			margin: 0 auto;
			display: block;
			position: absolute;
			width: $Timeline-Line_Width;
			opacity: 0.5;
			background-color: $Timeline-Active_BackgroundColor;
			transform: translateX(-50%);
			transition: height 0.5s linear, opacity 1s ease-in-out;
		}
		&:after {
			height: 0;
			bottom: 0;
			background-color: transparent;
			background-image: linear-gradient(
				to top,
				$Timeline-Active_BackgroundColor 0%,
				$Timeline-Active_BackgroundColor 30%,
				transparent 100%
			);
		}

		&:hover {
			&:after {
				height: 100%;
			}
		}

		&.timespan-previous {
			top: 1px;
			height: map-get($Timespan_Height, Previous);

			&:after {
				top: 0;
				background-image: linear-gradient(
					to bottom,
					$Timeline-Active_BackgroundColor 0%,
					$Timeline-Active_BackgroundColor 40%,
					transparent 100%
				);
			}

			.current-date-marker {
				bottom: $BeginMarker_PositionBottom;
			}
		}

		&.timespan-next {
			bottom: 0;
			height: map-get($Timespan_Height, Next);

			.current-date-marker {
				top: $EndMarker_PositionTop;
			}
		}

		.current-date-marker {
			width: 100%;
			position: absolute;

			&:before, &:after {
				@extend %TimelineEntry:before;

				content: '';
				top: getGridSize(0.5, horizontal) * -1;
				left: 50%;
				width: 50%;
				position: absolute;
				transform: translateX(-50%);
			}
			&:after {
				top: auto;
				bottom: getGridSize(0.5, horizontal) * -1;
			}

			.date {
				padding: {
					bottom: 6px;
					left: 6px;
				};
				width: 80%;
				@extend %TimelineEntry;
			}

			&:hover {
				opacity: 1;
			}
		}
	}
}
