$DefaultGridItem_Size: 20px;
$Default_Width: 1366px;
$Default_Height: 768px;

@function getPercatageOfDefaultSize($px, $orientation, $floor: false) {
	$size: $Default_Width;
	$percent: 100vh;
	@if ($orientation == horizontal) {
		$percent: 100vw;
		$size: $Default_Height;
	}

	@if ($floor) {
		@return ($px / $size * $percent)
	}

	@return ($px / $size * $percent);
}

@function getGridSize($count, $orientation) {
  @return (getPercatageOfDefaultSize($DefaultGridItem_Size, $orientation, true) * $count);
}

$Viewport_Padding_Vertical:  getPercatageOfDefaultSize(($Default_Height % $DefaultGridItem_Size) / 2, vertical) + getGridSize(1, vertical);
$Viewport_Padding_Horizontal: getPercatageOfDefaultSize(($Default_Width % $DefaultGridItem_Size) / 2, horizontal) + getGridSize(1, horizontal);

@mixin CloseButton {
	&:before {
		content: '✕';
		width: 2em;
		height: 2em;
		font-size: 1em;
		line-height: 2em;
		font-weight: 300;
		text-align: center;
		position: relative;
		border-radius: 50%;
		display: inline-block;
		margin-right: 0.4em; 
		color: $ColorBackgroundContent;
		background-color: $ColorBackgroundDark;
		transition: background-color 0.2s ease-in-out;
	}

	&:hover {
		&:after {
			background-color: $ColorPrimary;
		}
	}
}
@mixin Button {
	padding: 0.5em;
	border-radius: 0.25em;
	font-weight: 700;
	color: $ColorBackgroundContent;
	background-color: $ColorBackgroundDark;
	transition: background-color 0.2s ease-in-out;

	&:hover {
		background-color: $ColorPrimary;
	}
}

@mixin Animated($iterationCount, $duration, $delay: 0, $fillMode: 'booh') {
	animation-iteration-count: $iterationCount;
	animation-duration: $duration;
	animation-delay: $delay;

	-webkit-animation-fill-mode: $fillMode;
	-moz-animation-fill-mode: $fillMode;
	-o-animation-fill-mode: $fillMode;
	animation-fill-mode: $fillMode; 
}