h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6,
time {
	font-weight: 300;
}

h1, .h1, .AtomicsCCM_tagH1-overridden {
	margin: 0;
	color: inherit;
	font-size: 2em;
	font-weight: 700;
}

h2, .h2, .AtomicsCCM_tagH2-overridden {
	margin: 0;
	font-size: 1em;
	color: $ColorPrimary;
}

h3, .h3, .AtomicsCCM_tagH3-overridden {
	margin: 0;
	color: inherit;
	font-weight: 700;
	text-transform: uppercase;
}

h4, .h4, .AtomicsCCM_tagH4-overridden {
	margin: 0;
	color: inherit;
	font-weight: 400;
}

time {
	margin: 0;
	color: inherit;
 	font-size: 0.7em;
}

a {
	color: inherit;
	font-weight: 400;
	text-decoration: underline;
}

dl {
	break-inside: avoid;
	page-break-inside: avoid;

	dt {
		font-weight: 700;
	}

	dd {
		display: block;
		margin-left: 0.5em;
		padding-left: 0.5em;
		border-left: 0.1em solid $ColorBackgroundDark;
		margin-bottom: 1em;
	}
}
.justify-chars {
	display: flex;
	flex-wrap: nowrap;
	flex-direction: row;
	justify-content: space-between;
}

strong {
	font-weight: 700;
	a {
		font-weight: 700;
	}
}

a {
	&[target=_blank] {
	}
}

button {
	margin: 0;
	display: inline;
	padding: 0;
	border: none;
	color: inherit;
	font-weight: inherit;
	text-align: inherit;
	cursor: pointer;
	background-color: transparent;
}

p {
	margin-top: 0;
	margin-bottom: 1em;
}

ul {
	margin: 0;
	margin-left: 0.8em;
	padding-left: 0.4em;
	margin-bottom: 1em;

	break-inside: avoid;
	page-break-inside: avoid;
}